body {
  font: 10px sans-serif;

}

#social-login {
    margin-top: 20px;
}

#social-login>.row>div {
    margin: 20px 0;
    padding-right: 40px;
}

.bar text {
  fill: white;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.gh rect {
    fill: black;
}

.fb rect {
    fill: #3b5998;
}

.tw rect {
    fill: #55acee;
}

.fsq rect {
  fill: #F94877;
}