body {
  font: 10px;
  font-family: 'Roboto', sans-serif;
}

#cover > .row {
  background-color: #FDD835;
}

#cover h1, h4 {
  text-align: center;
}

#cover h4 {
  font-weight: 300;
}

#cover h1 {
  margin-top: 40px;
  font-weight: 500;
}

#cover > .row > div {
  height: 150px;
}

#social-login {
    margin-top: 0px;
}

#social-login>.row>div {
    margin: 20px 0;
    padding: 0 35px;
}

.bar text {
  fill: white;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.gh rect {
    fill: black;
}

.fb rect {
    fill: #3b5998;
}

.ig rect {
    fill: #125688;
}

.fsq rect {
  fill: #F94877;
}

.fa-check {
  padding-top: 3px;
}