<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Social Traces</title>

	<!-- Stylesheets -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap-social/bootstrap-social.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

	
	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
	<script src="{{ url_for('static', filename='js/script.js')}}"></script>
</head>
<body>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1577136492607499',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use graph api version 2.5
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>


<div id="cover" class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1>Social Traces</h1>
			<h4>Connect your social accounts. See your online activity pattern.</h4>
		</div>
	</div>
</div>

	<!-- Social Login Buttons -->
	<div id="social-login" class="container">
		<div class="row">
			<div class="col-lg-3">
				{% if not services_logged_in['fb'] %}
				<a id="fb-login-btn" class="btn btn-block btn-social btn-facebook">
			    <span class="fa fa-facebook" ></span> Sign in with Facebook
			  </a>
			  {% else %}
			  <a class="btn btn-block btn-social btn-facebook">
			    <span class="fa fa-facebook"></span> Facebook Connected <span class="progress-indicator fa fa-circle-o-notch fa-spin fa-pull-right"></span>
			  </a>
			  {% endif %}
			  <p>230 Posts</p>
			</div>
			<div class="col-lg-3">
			  {% if not services_logged_in['ig'] %}
				<a href="{{ auth_uris['ig'] }}" class="btn btn-block btn-social btn-instagram">
			    <span class="fa fa-instagram"></span> Sign in with Instagram
			  </a>
			  {% else %}
			  <a class="btn btn-block btn-social btn-instagram">
			    <span class="fa fa-instagram"></span> Instagram Connected <span class="progress-indicator fa fa-circle-o-notch fa-spin fa-pull-right"></span>
			  </a>
			  {% endif %}
			  <p>230 Photos</p>
			</div>
			<div class="col-lg-3">
				{% if not services_logged_in['gh'] %}
				<a href="{{ auth_uris['gh'] }}" class="btn btn-block btn-social btn-github">
			    <span class="fa fa-github"></span> Sign in with Github
			  </a>
			  {% else %}
			  <a class="btn btn-block btn-social btn-github">
			    <span class="fa fa-github"></span> Github Connected <span class="progress-indicator fa fa-circle-o-notch fa-spin fa-pull-right"></span>
			  </a>
			  {% endif %}
			  <p>230 Events</p>
			</div>
			<div class="col-lg-3">
				{% if not services_logged_in['fsq'] %}
					<a href="{{ auth_uris['fsq'] }}" class="btn btn-block btn-social btn-foursquare">
					    <span class="fa fa-foursquare"></span> Sign in with Foursquare
				  </a>
				{% else %}
					<a class="btn btn-block btn-social btn-foursquare">
					    <span class="fa fa-foursquare"></span> Foursquare Connected <span class="progress-indicator fa fa-circle-o-notch fa-spin fa-pull-right"></span>
				  </a>
				{% endif %}
				<p>230 Checkins</p>
			</div>
		</div> <!-- .row -->
	</div> <!-- #social-login -->


	<div class="container">
		{% if should_show_traces %}
		<svg id="traces">
		</svg>
		<script type="text/javascript">
			requestTimestamps();
		</script>
		{% else %}
			<h4>Please Log In</h4>
		{% endif %}
	</div>

</body>
</html>